{% extends 'master.html' %}

{% block title %}
Edit label
{% endblock %}


{% block content %}

<div class="row mt-4">
    <div class="col">
        <h4>
            Editing label with id {{id}}
        </h4>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-4">
        <form method="post" action="{% url 'notes:labels_edit' id %}">
            {% csrf_token %}
            <div class="form-group my-2">
                <label for="{{ form.title.id_for_label }}">{{ form.title.label_tag }}</label>
                <input type="text" class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.name }}"
                       value="{{ form.title.value }}">
                {% if form.title.errors %}
                <div class="alert alert-danger mt-2">
                    <ul style="text-align: left">
                        {% for error in form.title.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

           <div class="form-group my-2">
                <label for="{{ form.color.id_for_label }}">{{ form.color.label_tag }}</label>
                <input type="text" class="form-control" id="{{ form.content.id_for_label }}" name="{{ form.color.name }}"
                         value="{{ form.color.value }}">
                {% if form.color.errors %}
                <div class="alert alert-danger mt-2">
                    <ul style="text-align: left">
                        {% for error in form.color.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>

            <div class="form-group my-2">
                <button type="submit" class="btn btn-warning">Edit label</button>
            </div>

        </form>

        <form method="post" action="{% url 'notes:labels_delete' id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete label</button>
        </form>

    </div>
</div>

{% endblock %}