<div class="row mt-3">
    <div class="col">
        <div class="mb-3">
            <h4>Labels <span class="badge bg-info"><a href="{% url 'notes:labels_create'  %}" class="text-decoration-none text-white">+</a></span></h4>
        </div>
        {% if labels.count > 0 %}
        <div class="row">
            {% for label in labels %}
            <div class="col-md-1">

                        <span class="badge bg-{{label.color}}"><a href="" class="text-decoration-none text-white">{{label.title}}  </a>
                            <a href="{% url 'notes:labels_edit' id=label.id %}" class="text-decoration-none text-white">[x]</a></span>

            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>
            You don't have any labels
        </p>
        {% endif %}
        <hr>
    </div>
</div>